


.Filmcard {
    padding: 1em;
    // margin: 1em;
    background-color: #868acf !important;
    border-radius: 2em;
    border: .1em solid black;
    box-shadow: 3px 3px 10px 1px;
    height: 350px !important;
    img {
        object-fit: contain !important;
        cursor: pointer;
    }

    .card-body {
        padding-bottom: 0;
        .card-title {
            h2 {
                margin-bottom: 0;
            }
        }
    }
    

    .cardBtn {
        background-color: #0606dc;
        border: 0;
        color: white;
    }

.modal-dialog{
    .modal-content{
        .modal-body{
            ul{
                list-style: none;
                text-align: left;
                padding: 20px 0 0 0;
            }
            img{
                object-fit: contain !important;
            }
        }
    }
}
}