

.Filmcard {
    padding: 1em;
    margin: 1em;
    background-color: #868acf !important;
    border-radius: 2em;
    border: .1em solid black;
    box-shadow: 3px 3px 10px 1px;

    .cardBtn {
        background-color: #0606dc;
        border: 0;
        color: white;
    }
    ul{
        list-style: none;
        text-align: left;
        padding: 20px 0 0 0;
    }
}