

.WeatherCard {
    padding: 1em;
    margin: 1em;
    background-color:cadetblue;
    border-radius: 1em;
    border: .1em solid black;
    box-shadow: 3px 3px 10px 1px;

    .cardBtn {
        background-color: red;
        border: 0;
        color: white;
    }
}