.Home {
    height: 90vh;
    width: 100vw;
    background-color: rgb(163, 232, 94);
    background-image: url(/public/sala.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .homeTop {
        height: 30%;
        width: 100%;
    }

    .homeBot {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .botLeft {
        height: 100%;
        width: 20%;
    }

    .botMid {
        height: 100%;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .botRight {
        height: 100%;
        width: 20%;
    }


    .carousel {
        width: 30em;
        background-size: cover;
        border-radius: 0.3em;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 3.5em;
        margin-top: 4.5em;
        box-shadow: 0em 0em 2em 1.5em rgba(255, 255, 255, 0.175);
    }
    img {
        background-size: cover;
        height: 16.5em;
        width: 15em;
        border-radius: 0.3em;
    }
}