.nav1 {
  height: 6em;
  width: 100%;
  background: linear-gradient(rgb(11, 11, 231), rgb(19, 19, 141), rgb(0, 0, 255));
  color: white;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
  cursor: pointer;

  .nav1First {
    height: 6em;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex: row;
    margin-left: 1em;
  }

  .nav1Second {
    height: 6em;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: row;
  }

  .nav {
    font-weight: bold;
    font-size: x-large;
    margin-right: 2em;
    margin-bottom: 1em;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    border: 0.5em;
    border-radius: 0.2em;
    background: radial-gradient(rgb(225, 63, 26), rgb(68, 14, 8));
    padding: 0.3em;
    box-shadow: 0em 0em 0.2em 0.05em white;
  }

  .nav:hover {

    color: grey;
    transition: 0.5s;
  }
}

.nav2 {
  height: 6em;
  width: 100%;
  background: linear-gradient(rgb(11, 11, 231), rgb(19, 19, 141), rgb(0, 0, 255));
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;

  .nav2First {
    height: 6em;
    width: 50%;
    display: flex;
    align-items: flex-end;
    flex: row;
    margin-left: 1em;
  }

  .nav2Second {
    height: 6em;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: row;
  }

  .nav {

    font-weight: bold;
    font-size: x-large;
    margin-right: 2em;
    margin-bottom: 1em;
    color: white;
    transition: 0.5s;
    text-decoration: none;
    border: 0.5em;
    border-radius: 0.2em;
    background: radial-gradient(rgb(225, 63, 26), rgb(68, 14, 8));
    padding: 0.3em;
    box-shadow: 0em 0em 0.2em 0.05em white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav:hover {

    color: grey;
    transition: 0.5s;
  }
}