
.Nav {
  height: 6em;
  width: 100%;
  background: linear-gradient(rgb(11, 11, 231), rgb(19, 19, 141), rgb(0, 0, 255));
  color: white;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  cursor: pointer;
  border-top: 0.1em solid black;
  border-bottom: 0.1em solid black;
}

.navLink {

  font-weight: bold;
  font-size: x-large;
  margin-right: 2em;
  margin-bottom: 1em;
  color: white;   
  transition: 0.5s;
  text-decoration: none;
  border: 0.5em;
  border-radius: 0.4em;
  background: radial-gradient(rgb(77, 41, 140), rgb(32, 16, 103));
  padding: 0.6em;
  box-shadow: 0em 0em 0.4em 0.2em rgb(65, 31, 186);
  
}

.navLink:hover {

  color: grey;
  transition: 0.5s;
}

