.loginDesign{
    height: 92vh;
    width: 100vw;
    background-color: rgb(148, 145, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;

    input {
        height: 2.5em;
        width: 20em;
        border-radius: 0.2em;
        border: 0.1em solid black;
        box-shadow: 0em 0em 0.5em 0.1em rgb(179, 172, 172);
    }

}