.loginDesign{
    height: 90vh;
    width: 100vw;
    background: radial-gradient(rgb(0, 225, 255), rgb(0, 221, 255));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    background-image: url(/public/sala.jpg);
    background-size: cover;


    input {
        height: 2.5em;
        width: 20em;
        border-radius: 0.2em;
        border: 0.1em solid black;
        box-shadow: 0em 0em 0.4em 0.05em rgb(179, 172, 172);
    }

    .loginButton{
        height: 2.5em;
        width: 8em;
        background: radial-gradient(rgb(105, 192, 190), rgb(48, 158, 255));
        color: black;
        border: 0.1em solid white;
        box-shadow: 0em 0em 0.4em 0.1em rgb(154, 152, 152);
        font-weight: bold;
    }
   /*  .error{
        height: 2em;
        width: 10em;
        background-color: rgb(135, 21, 21);
        color: white;
    } */

}