.loginDesign{
    height: 90vh;
    width: 100vw;
    background: radial-gradient(rgb(79, 78, 78), rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    color: white;



    input {
        background: radial-gradient(rgb(255, 255, 255), rgb(190, 190, 190));
        height: 2.5em;
        width: 20em;
        border-radius: 0.2em;
        border: 0.1em solid black;
        box-shadow: 0em 0em 0.4em 0.05em rgb(179, 172, 172);
        font-family: Copperplate, Papyrus, fantasy;
    }

    .loginButton{
        height: 2.5em;
        width: 8em;
        background: radial-gradient(rgb(225, 63, 26), rgb(68, 14, 8));
        box-shadow: 0em 0em 0.2em 0.05em rgba(255, 255, 255, 0.621);        
        color: white;
        border: 0.1em solid white;
        font-weight: bold;
        font-family: Copperplate, Papyrus, fantasy;
    }
   /*  .error{
        height: 2em;
        width: 10em;
        background-color: rgb(135, 21, 21);
        color: white;
    } */

}