.Film{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    background-repeat: repeat;
    display:block;
    justify-content: center;
    max-width: 100% !important;
    margin: 0;
}
