body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.modal-dialog .modal-content .modal-body ul{
  list-style:none;
  text-align:left;
  padding: 20px 0 0 0;
}

.modal-dialog .modal-content .modal-body .cardBtn{
    background-color:rgb(163, 44, 19);
    border: 0;
    color: white;
}


.modal-dialog .modal-content .modal-body{
  background-color: black;
  text-align: center;
  color: antiquewhite;

}
.modal-dialog .modal-content .modal-header{
  background-color:rgb(163, 44, 19);
  color:antiquewhite;
}